[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/fugative"]
	path = bundle/fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "vim-markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/mako-indent"]
	path = bundle/mako-indent
	url = https://github.com/vim-scripts/mako.vim--Torborg.git
[submodule "bundle/mako-highlight"]
	path = bundle/mako-highlight
	url = https://github.com/vim-scripts/mako.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/haskell-conceal"]
	path = bundle/haskell-conceal
	url = https://github.com/vim-scripts/Haskell-Conceal.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/chrismetcalf/vim-json.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/mako"]
	path = bundle/mako
	url = https://github.com/vim-scripts/mako.vim.git
